################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/single-linked-list/single-linked-list/obj
