################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/single-linked-list/single-linked-list/obj
/single-linked-list/single-linked-list/bin/Debug/netcoreapp3.1
/single-linked-list/detect-loop/obj
/single-linked-list/.vs/single-linked-list/v17
/single-linked-list/detect-loop/bin/Debug/netcoreapp3.1
/.vs
/single-linked-list/delete-nth-node-last/obj
/single-linked-list/delete-nth-node-last/bin/Debug/netcoreapp3.1
/single-linked-list/detect-length-of-loop/bin/Debug/netcoreapp3.1
/single-linked-list/detect-length-of-loop/obj
/single-linked-list/unit-tests/bin/Debug/netcoreapp3.1
/single-linked-list/unit-tests/obj
/single-linked-list/delete-nth-node-first/bin/Debug/netcoreapp3.1
/single-linked-list/delete-nth-node-first/obj
/single-linked-list/delete-loop/bin/Debug/netcoreapp3.1
/single-linked-list/delete-loop/obj
/single-linked-list/reverse-linked-list/bin/Debug/netcoreapp3.1
/single-linked-list/reverse-linked-list/obj
/single-linked-list/delete-alternate-node/obj
/single-linked-list/.vs/single-linked-list
/searching/binary-search/binary-search/obj
/searching/binary-search/find-first-occurrence/bin/Debug/netcoreapp3.1
/single-linked-list/delete-alternate-node/bin/Debug/netcoreapp3.1
/searching/binary-search/.vs/binary-search/v17
/searching/binary-search/find-first-last-occurrence/obj
/searching/binary-search/count-array-rotation/bin/Debug/netcoreapp3.1
/searching/binary-search/count-array-rotation/obj
/searching/binary-search/count-element/bin/Debug/netcoreapp3.1
/searching/binary-search/count-element/obj
/searching/binary-search/find-floor-ceil-sorted-array/obj
/searching/binary-search/find-floor-ceil-sorted-array/find-floor-ceil-sorted-array.csproj
/searching/binary-search/find-floor-ceil-sorted-array/bin/Debug/netcoreapp3.1
/searching/binary-search/find-first-last-occurrence/bin/Debug/netcoreapp3.1
/single-linked-list/find-mid-node/obj
/searching/binary-search/search-bitnoic-array/obj
/searching/binary-search/peak-bitonic-array/obj
/searching/binary-search/peak-bitonic-array/bin/Debug/netcoreapp3.1
/stack/stack-using-rray/bin/Debug/netcoreapp3.1
/stack/stack-using-rray/obj
/stack/stack-using-linkedlist/obj
/stack/stack-using-linkedlist/bin/Debug/netcoreapp3.1
/stack/stack-using-array/bin/Debug/netcoreapp3.1
/stack/stack-using-array/obj
/stack/push-element-at-bottom/bin/Debug/netcoreapp3.1
/stack/push-element-at-bottom/obj
/stack/reverse-stack/bin/Debug/netcoreapp3.1
/stack/reverse-stack/obj
/recursion/obj
/circular-linked-list/circular-linked-list/obj
/recursion/.vs/recursion/v17
/recursion/factorial/bin/Debug/netcoreapp3.1
/recursion/fibonacci-series/obj
/recursion/fibonacci-series/bin/Debug/netcoreapp3.1
/recursion/factorial/obj/Debug/netcoreapp3.1
/recursion/sum-of-digits/obj
/recursion/sum-of-digits/bin/Debug/netcoreapp3.1
/recursion/recursion/obj
/recursion/recursion/bin/Debug/netcoreapp3.1
/recursion/factorial/obj
/stack/stack/obj
/stack/.vs/stack
/stack/stack-linkedlist/obj
/recursion/reverse-number/obj
/recursion/reverse-digits/obj
/recursion/.vs/recursion
/queue/.vs/queue
/queue/queue/obj
/queue/queue-linked-list/obj/Release/netcoreapp3.1
/queue/queue-linked-list/obj
/queue/queue-linked-list/bin/Debug/netcoreapp3.1
/circular-linked-list/.vs/circular-linked-list
/binary-tree/preorder/obj
/binary-tree/preorder/bin/Debug/netcoreapp3.1
/binary-tree/postorder/obj
/binary-tree/binary-tree/obj
/binary-tree/.vs/binary-tree/v17
/binary-tree/tree-traversal/obj
/binary-tree/tree-traversal/bin/Debug/netcoreapp3.1
/binary-tree/size-of-binary-tree/obj
/binary-tree/size-of-binary-tree/bin/Debug/netcoreapp3.1
/binary-tree/min-max-node-binary-tree/obj
/binary-tree/min-max-node-binary-tree/bin/Debug/netcoreapp3.1
/binary-tree/level-order-traversal/obj
/binary-tree/level-order-traversal/bin/Debug/netcoreapp3.1
/binary-tree/height-or-depth-tree/obj
/binary-tree/height-or-depth-tree/bin/Debug/netcoreapp3.1
